/* Add your CSS styles for responsive design here */
.breadcrumb {
    padding: 10px;
    background-color: #f2f2f2;
    text-align: center;
}

.red-link {
    color: red;
}

.red-text {
    color: red;
    text-align: center;
}

.grey-text {
    color: grey;
}

.voucherss {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.voucher {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    width: 30%;
    text-align: center;
}

.voucher img {
    max-width: 100%;
}

.red-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Add responsive CSS to adapt to different screen sizes */
